@import "@dangl/angular-material-shared/styles/material-style";
@import "@dangl/angular-material-shared/styles/material-variables";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.dark-bg {
  background-color: $color-dark;
}
