<div class="welcome-container">
  <mat-card>
    <mat-card-header>
      <h1>
        <span>Welcome to the OpenCDE example app!</span>
      </h1>
    </mat-card-header>
    <mat-card-content>
      <p>
        Dangl.<strong>OpenCDE</strong> is a service intended to demonstrate the
        buildingSMART International OpenCDE Documents API specification.
      </p>
      <div *ngIf="!userInfo">
        <p>Please login in or register a new account to access this service.</p>
      </div>
    </mat-card-content>
    <mat-card-actions *ngIf="!userInfo">
      <div class="login-container">
        <a mat-button (click)="login()">Login</a>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
