<dangl-header
  logoInitials="GD"
  prefix="Dangl."
  postfix="OpenCDE"
  [preReleaseVersion]="preReleaseVersion"
  [preReleaseBuildDate]="preReleaseBuildDate"
  (menuButtonClicked)="toggleMenuButton()"
  [showPrerelease]="showPreReleaseHeader"
  [showMenuButton]="!!userInfo"
>
  <div class="user-info-container">
    @if (userInfo) {
    <opencde-user-info [userInfo]="userInfo"></opencde-user-info>
    } @else {
    <button mat-flat-button color="primary" (click)="login()">
      <span>Login / Register</span>
    </button>
    }
  </div>
</dangl-header>
