.card {
  margin: 30px auto;
  max-width: 400px;
}

.main-divider.mat-divider {
  border-top-width: 4px;
}

.label {
  min-width: 100px;
}

.mat-form-field {
  width: 100%;
}

.create-btn {
  width: 100%;
}
