<h3>Manage OpenCDE Servers</h3>
<button
  mat-raised-button
  color="primary"
  (click)="saveCurrentServer()"
  *ngIf="canSaveCurrentServer"
>
  Save Current Server
</button>
<mat-list role="list">
  <div *ngFor="let server of savedServers" class="item-container">
    <button mat-icon-button color="warn" (click)="deleteServer(server)">
      <mat-icon>delete</mat-icon>
    </button>
    <mat-list-item role="listitem">
      <button mat-raised-button color="primary" (click)="selectServer(server)">
        {{ server }}
      </button>
    </mat-list-item>
  </div>
</mat-list>
