<h1>Document Detail</h1>

@if (settingsProgress.isLoading) {
<opencde-upload-progress
  [settings]="settingsProgress"
></opencde-upload-progress>
} @if (!settingsProgress.isLoading && document) {
<div>
  @if (!document.contentAvailable) {
  <p>This document does not yet have content available</p>
  } @if (document.contentAvailable && !cdeSession) {
  <a
    mat-raised-button
    color="primary"
    href="/api/projects/{{ document.projectId }}/documents/{{
      document.id
    }}/content?access_token={{ accessToken }}"
  >
    Download
  </a>
  } @if (document.contentAvailable && !cdeSession) {
  <a mat-raised-button color="warn" (click)="deleteDocument()"> Delete </a>
  } @if (document.contentAvailable && cdeSession) {
  <button mat-raised-button color="primary" (click)="sendDocumentToClient()">
    Send to Client
  </button>
  }
</div>
}
