<div class="wrapper">
  <opencde-site-header class="wrapper__header"></opencde-site-header>
  <div class="wrapper__main">
    <mat-sidenav-container class="main-container">
      <mat-sidenav
        #sidenav
        mode="side"
        [opened]="sideNavOpened && userIsAuthenticated"
        (openedChange)="sideNavOpened && (userIsAuthenticated = $event)"
        class="main-sidenav dark-bg"
        color="primary"
      >
        <div class="list">
          <opencde-sidenav></opencde-sidenav>
        </div>
      </mat-sidenav>
      <mat-sidenav-content class="main-content">
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  <opencde-site-footer class="wrapper__footer"></opencde-site-footer>
</div>
