@import "~@dangl/angular-material-shared/styles/material-variables.scss";

:host {
  color: #fff;
}

a {
  border-radius: 0;
  display: block;
  text-align: start;
  padding-top: 4px;
  padding-bottom: 2px;
}

mat-icon {
  transform: scale(1.25);
  width: 30px;
  height: 30px;
}

a.active {
  background-color: $color-primary;
}
