@if (isLoading) {
<mat-spinner></mat-spinner>
} @if (documentVersion) {
<button mat-raised-button (click)="downloadDocument()">
  Download Document
</button>
}

<mat-tab-group>
  <mat-tab label="Reference">
    @if (documentVersion) {
    <pre
      >{{ documentVersion | json }}
        </pre
    >
    }
  </mat-tab>
  <mat-tab label="Metadata">
    @if (documentMetadata) {
    <pre
      >{{ documentMetadata | json }}
          </pre
    >
    }
  </mat-tab>
  <mat-tab label="Versions">
    @if (documentVersions) {
    <pre
      >{{ documentVersions | json }}
            </pre
    >
    }
  </mat-tab>
</mat-tab-group>
