.footer {
  box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    inset 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    inset 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  padding: 0.4rem 0;
  font-weight: 400;
  margin: 0em;
  p {
    text-align: center;
    padding: 0;
    margin: 0;
    color: #bdbdbd;
    a,
    span {
      text-decoration: none;
      color: #bdbdbd;
    }
  }
}
